.background{
    padding: 18%;
}

.container{
    background-color: antiquewhite;
    border: 2px black solid;
    border-radius: 5px;
    width: 30%;
}

.color-selected{
    width: 60%;
}

.inputs {
    display: flex;
}

